<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>节点监控</title>

    <link href="dist/css/base.css" rel="stylesheet">
    <link href="dist/css/Spacetree.css" rel="stylesheet">
    <link href="jdjk.css" rel="stylesheet">

</head>
<body>
<div>
    <div id="infovis"></div>
</div>
<!--<div style="width: 550px;height:550px;overflow-y:scroll;overflow-x:scroll;"></div>-->
<script language="javascript" type="text/javascript" src="dist/js/jit.js"></script>
<script language="javascript" type="text/javascript" src="dist/js/excanvas.js"></script>
<script language="javascript" type="text/javascript" src="jdjk.js"></script>
</body>
</html>